# Python-Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
venv/
env/
ENV/
.venv/
.env

# Flask
instance/*
!instance/.gitkeep
.webassets-cache
data/*
!data/.gitkeep
export/*
!export/.gitkeep

# Andere gängige Ausschlüsse
.DS_Store
.idea/
.vscode/
*.logdata/*
