# Python-Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtuelle Umgebung
venv/
env/
ENV/
.venv/
#.env

# Flask
instance/
.webassets-cache

# Andere gängige Ausschlüsse
.DS_Store
.idea/
.vscode/
*.log